@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/SegoeUI.woff2") format("woff2"),
    url("./fonts/SegoeUI.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/SegoeUI-SemiBold.woff2") format("woff2"),
    url("./fonts/SegoeUI-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/SegoeUI-Bold.woff2") format("woff2"),
    url("./fonts/SegoeUI-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Segoe UI", "Arial", sans-serif;
  color: #000000;
  background-color: #6725a8;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 0;
  cursor: pointer;
  background-color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 17px 0 24px;
}

.header_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-nav {
  display: flex;
}

.main-nav_toggle {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 12px 10px;
  border-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 8px;
  font-size: 0;
  cursor: pointer;
}

.main-nav_toggle-item {
  display: block;
  position: relative;
  width: 28px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 0;
}

.main-nav_toggle-item::before,
.main-nav_toggle-item::after {
  position: absolute;
  display: block;
  z-index: 1;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  background-color: #ffffff;
  border-radius: 4px;
}

.main-nav_toggle-item::before {
  top: 10px;
}

.main-nav_toggle-item::after {
  top: 20px;
}

.header_logo {
  display: flex;
  width: 106px;
  font-family: inherit;
  font-size: 28px;
  line-height: 24px;
  font-weight: 600;
  color: #ffffff;
  word-wrap: normal;
  word-break: break-all;
  letter-spacing: 0.2px;
  margin-left: 16px;
}

.search_wrapper {
  display: flex;
  flex-grow: 1;
  max-width: 594px;
  height: 48px;
  margin-left: 32px;
  margin-right: 32px;
  border-radius: 36px;
  background-color: rgba(255, 255, 255, 0.2);
}

.search_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}

.search_input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  height: 100%;
  width: calc(100% - 32px);
  outline: none;
}

.search_input::-moz-placeholder,
.search_input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.search_button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
}

.search_button-icon {
  display: block;
  width: 21px;
  height: 21px;
}

.search_icon path {
  fill: rgba(255, 255, 255, 0.5);
}

.header_profile {
  display: flex;
  margin-right: 40px;
}

.header_profile-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-family: inherit;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-transform: capitalize;
  word-break: break-all;
}
.header_profile-text {
  padding-top: 6px;
}

.cart {
  display: flex;
  align-items: center;
}

.cart_link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-family: inherit;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-transform: capitalize;
  word-break: break-all;
}

.cart_count {
  position: absolute;
  z-index: 3;
  right: 0;
  top: -5px;
  display: flex;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #f55123;
  font-size: 10px;
  line-height: 18px;
  font-weight: 700;
}
.cart_text {
  padding-top: 6px;
}
