@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/SegoeUI.woff2") format("woff2"),
    url("./fonts/SegoeUI.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/SegoeUI-SemiBold.woff2") format("woff2"),
    url("./fonts/SegoeUI-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/SegoeUI-Bold.woff2") format("woff2"),
    url("./fonts/SegoeUI-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Segoe UI", "Arial", sans-serif;
  color: #000000;
  background-color: #6725a8;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
p {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

button {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 0;
  cursor: pointer;
  background-color: inherit;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 24px;
}

.disabled {
  color: #9797af;
}
.none {
  display: none;
}

.header {
  max-width: 1400px;
  margin: 0 auto;
}

.header-container {
  padding-right: 23px;
}

.header_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 18px;
  padding-bottom: 19px;
}

.main-nav {
  display: flex;
}

.main-nav_toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 8px;
  font-size: 0;
  cursor: pointer;
}

.main-nav_toggle-item {
  display: block;
  position: relative;
  width: 28px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 0;
}

.main-nav_toggle-item::before,
.main-nav_toggle-item::after {
  position: absolute;
  display: block;
  z-index: 1;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  background-color: #ffffff;
  border-radius: 4px;
}

.main-nav_toggle-item::before {
  top: -10px;
}

.main-nav_toggle-item::after {
  top: 10px;
}

.header_logo {
  display: flex;
  max-width: 106px;
  font-family: inherit;
  font-size: 22px;
  line-height: 24px;
  font-weight: 600;
  color: #ffffff;
  word-wrap: normal;
  word-break: word-break;
  letter-spacing: 1.67px;
  margin-left: 16px;
  text-transform: uppercase;
}

.search_wrapper {
  display: flex;
  flex-grow: 1;
  margin-left: 32px;
  margin-right: 32px;
  border-radius: 36px;
  background-color: rgba(255, 255, 255, 0.2);
}

.search_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 9px 20px;
}

.search_input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  height: 100%;
  width: calc(100% - 26px);
  outline: none;
  padding: 0;
  padding-bottom: 6px;
}

.search_input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search_input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search_input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search_button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
}

.search_button-icon {
  display: block;
  width: 21px;
  height: 21px;
}

.search_icon path {
  fill: rgba(255, 255, 255, 0.5);
}

.header_item-wrapper {
  display: flex;
}

.profile {
  margin-right: 44px;
}

.profile_icon {
  margin-top: 1px;
  margin-left: 3px;
}

.header_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_item-text {
  color: #ffffff;
  font-family: inherit;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-transform: capitalize;
  word-break: break-all;
  padding-top: 11px;
}

.header_cart-icon {
  margin-right: 7px;
}

.header_cart-link {
  position: relative;
}

.header_cart-count {
  position: absolute;
  z-index: 3;
  right: 5px;
  top: -6px;
  display: inline-block;
  min-width: 16px;
  min-height: 16px;
  padding: 0 3px;
  border-radius: 16px;
  text-align: center;
  vertical-align: middle;
  background-color: #f55123;
  font-size: 10px;
  line-height: 14px;
  font-weight: 700;
  color: #ffffff;
}

.header_cart-text {
  padding-top: 10px;
}

/* ============================ */

.main {
  width: 100%;
  background-color: #f6f6fa;
  border-radius: 24px;
}

.main_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 23px;
  padding-bottom: 33px;
}

.main_left {
  display: flex;
  flex-direction: column;
  max-width: calc(68.269% - 32px);
  flex-basis: calc(68.269% - 32px);
}

.cart {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cart_title {
  padding-top: 12px;
  padding-bottom: 26px;
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  word-break: word-break;
  color: #000000;
}

.cart_subtitle {
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
}

.cart_all-selected {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 18px;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox_item {
  position: relative;
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  padding-left: 33px;
}

.checkbox_icon {
  display: flex;
  position: relative;
  width: 22px;
  height: 22px;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border-radius: 6px;
}

.checkbox_icon::before,
.checkbox_item::before {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  content: "";
}

.checkbox_input:checked + .checkbox_icon::before,
.checkbox_input:checked + .checkbox_item::before {
  content: url("./images/icon-yes.svg");
  background-color: #cb11ab;
  border: 0;
}

.accordion_button {
  display: flex;
  padding: 0;
  margin-top: 2px;
  margin-right: 2px;
}

.cart_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 7px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.cart_item {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 32px;
  padding-left: 34px;
}

.cart_item--off {
  padding-left: 0;
}

.cart_item-label {
  position: absolute;
  display: inline-block;
  top: 38px;
  left: 0;
  cursor: pointer;
  z-index: 2;
  padding-left: 0;
}

.cart_item-label::before {
  display: none;
}

.good {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.good_img--off {
  filter: grayscale(1);
}

.good_img-link {
  display: inline-block;
  cursor: pointer;
  max-width: 72px;
  max-height: 96px;
  border-radius: 8px;
}

.good_content {
  display: flex;
  flex-direction: row;
  max-width: 340px;
}

.good_content--counter {
  justify-content: space-between;
  min-width: 228px;
}

.good_content--left {
  min-width: 380px;
}

.good_content--off {
  min-width: 182px;
}

.good_info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 16px;
}

.good_name {
  padding-top: 1px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  word-break: break-word;
}

.good_description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 7px;
}

.good_description-item {
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  padding-right: 17px;
}

.good_store {
  display: flex;
  flex-direction: column;
  padding-top: 7px;
}

.good_store-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 3px;
}

.good_store-wrap:last-child {
  padding-bottom: 0;
}

.good_store-item {
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  color: #9797af;
}

.good_store-item--i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  width: 16px;
  height: 16px;
  padding-bottom: 2px;
  border: 1px solid #9797af;
  border-radius: 50%;
  font-size: 11px;
}

.good_count {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.good_count-number {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100px;
  min-height: 44px;
}
.counter_wrap {
  position: relative;
  min-width: 28px;
  height: 100%;
}

.counter_wrap::before {
  position: absolute;
  content: "";
  display: block;
  width: 9px;
  height: 1px;
  background-color: #000000;
  top: 21px;
  left: 14px;
  z-index: 2;
}

.counter_wrap--minus::before {
  height: 1px;
  left: 11px;
}

.counter_wrap--minus::after {
  position: absolute;
  content: "";
  display: block;
  width: 1px;
  height: 10px;
  background-color: #000000;
  top: 17px;
  left: 15px;
  z-index: 3;
}

.counter_btn {
  width: 100%;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 4px 10px;
  cursor: pointer;
}

.counter_btn--minus {
  border-radius: 8px 0 0 8px;
}

.counter_btn--plus {
  border-radius: 0 8px 8px 0;
}

.counter_input {
  min-width: 44px;
  height: 100%;
  padding: 4px;
  padding-bottom: 7px;
  padding-left: 8px;
  font-size: 16px;
  border: 0;
  outline: none;
  text-align: center;
}

.good_count-balance {
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #ff3b30;
  padding-top: 8px;
  padding-left: 2px;
}

.good_count-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
}

.good_count-button--off {
  padding-top: 0;
}

.btn {
  align-self: flex-end;
}

.btn_action {
  font-size: 0;
  padding: 0;
  margin-right: 18px;
}

.btn_action:last-child {
  margin-right: 0;
}

.good_price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 16px;
}

.good_price-item {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.good_price-item--large {
  font-size: 16px;
  line-height: 23px;
}

.good_price-currency {
  font-size: 15px;
}

.good_price-wrap {
  position: relative;
}

.good_price-total {
  display: inline-block;
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #9797af;
  text-decoration: line-through;
  border-bottom: 1px dotted #9797af;
}

.main_rigth {
  max-width: 31.731%;
}

.total-info {
  width: 100%;
}

/* ============================ */

.delivery {
  width: 100%;
  background-color: #ffffff;
  border-radius: 16px;
  margin-bottom: 16px;
}

.delivery_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 26px;
  font-family: inherit;
}

.delivery_title-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.01em;
}

.item_title {
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.delivery_change {
  font-weight: 700;
  color: #cb11ab;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
}

.delivery_point {
  display: flex;
  flex-direction: row;
}

.delivery_content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 17px;
  padding-bottom: 27px;
}

.delivery_item {
  display: flex;
  flex-direction: row;
  padding-bottom: 16px;
}

.delivery_item:last-child {
  padding-bottom: 0;
}

.delivery_item-inner {
  display: flex;
  align-items: flex-start;
}

.delivery_item-inner--left {
  min-width: 155px;
}
.delivery_item-inner--right {
  margin-left: 32px;
}

.address {
  flex-direction: column;
}

.address_info {
  display: flex;
  flex-direction: row;
  padding-top: 3px;
  font-family: inherit;
  font-size: 13px;
  line-height: 16px;
}

.address_rating {
  position: relative;
  display: inline-block;
  padding-left: 16px;
}

.address_rating::before {
  position: absolute;
  display: block;
  width: 12px;
  height: 16px;
  content: url("./images/icon-star.svg");
  top: 0;
  left: 0;
  z-index: 3;
}

.address_opening {
  padding-left: 8px;
}

.date_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.date_item {
  display: flex;
  flex-direction: row;
  padding-bottom: 16px;
}

.date_item:last-child {
  padding-bottom: 0;
}

.delivery-date_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.delivery-date_item {
  position: relative;
  width: 40px;
  height: 56px;
  border-radius: 8px;
  margin-right: 8px;
}

.delivery-date_item:last-child {
  margin-right: 0;
}

.delivery-date-img {
  width: 40px;
  height: 56px;
}

.delivery-date_count {
  position: absolute;
  display: inline-block;
  z-index: 3;
  padding: 0 5px;
  top: 0;
  transform: translateY(-50%);
  right: -4px;
  background-color: #f55123;
  border-radius: 16px;
  font-family: inherit;
  font-size: 10px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}

.delivery_notification {
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.notification {
  position: relative;
  padding-left: 30px;
}

.notification::before {
  position: absolute;
  display: block;
  z-index: 3;
  width: 20px;
  height: 20px;
  top: -2px;
  left: 2px;
  content: url("./images//icon-circle-green.svg");
  text-align: center;
}

.notification::after {
  position: absolute;
  display: block;
  top: -1px;
  left: 2px;
  z-index: 4;
  text-align: center;
  width: 20px;
  height: 20px;
  content: url("./images/icon-yes-green.svg");
}

.notification_green {
  position: relative;
  display: inline-block;
  color: #0cb477;
  border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
}
/* =========================== */

.payment {
  width: 100%;
  background-color: #ffffff;
  border-radius: 16px;
  margin-bottom: 16px;
}

.payment_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  font-family: inherit;
}

.payment_title-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.payment_change {
  color: #cb11ab;
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
}

.payment_content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 16px;
}

.payment_card {
  display: flex;
  flex-direction: row;
}

.payment_notification {
  padding-top: 8px;

  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #9797af;
}

.card_icon {
  display: inline-block;
  width: 32px;
  height: 24px;
  border-radius: 4px;
  background-color: #f6f6fa;
  margin-right: 8px;
  background-image: url("./images/card-mir.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card_number {
  padding-right: 12px;
}

/* ========================== */
.contacts {
  width: 100%;
  background-color: #ffffff;
  border-radius: 16px;
  margin-bottom: 16px;
}

.contacts_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 26px;
  font-family: inherit;
}

.contacts_content {
  padding-top: 17px;
  max-width: 724px;
}

.contacts_form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.form_item {
  display: flex;
  flex-direction: column;
  height: 45px;
  padding-right: 24px;
  margin-bottom: 18px;
  width: calc(100%/3);
  justify-content: space-between;
}

.form_item--top {
  width: 50%;
}

.form_label {
  font-family: inherit;
  font-size: 0;
  font-weight: 400;
  line-height: 16px;
  color: #9797AF;
  text-align: left;
}

.form_label--active {
  font-size: 13px;
}

.form_input {
  padding: 7px 3px;
  padding-bottom: 3px;
  border: 0;
  outline: none;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form_input::placeholder {
  color: #9797AF;
}

.form_input:-ms-input-placeholder {
  color: #9797AF;
}

.form_input::-ms-input-placeholder {
  color: #9797AF
}


.form_item-notification{
  padding-top: 4px;
  font-size: 12px;
  line-height: 14px;
}

/* =========================== */
@media (max-width: 960px) {
  .header_wrapper {
    justify-content: stretch;
  }

  .header_logo {
    max-width: none;
  }

  .search_wrapper {
    width: 100%;
    margin: 0;
    margin-top: 20px;
    order: 5;
  }

  .profile {
    margin-left: auto;
  }
}

/* ============================== */

@media (max-width: 660px) {
  .container {
    padding: 0px 13px;
  }
  .header_wrapper {
    padding-top: 14px;
    padding-bottom: 14px;
    justify-content: space-between;
  }

  .header_logo {
    margin-left: 0;
  }
  .search_wrapper {
    height: auto;
  }
  .search_form {
    padding: 0;
  }
  .main-nav_toggle {
    width: 28px;
    height: 28px;
    padding: 0;
    border: none;
    border-radius: 0;
  }

  .main-nav_toggle-item {
    width: 22px;
    height: 2px;
  }

  .main-nav_toggle-item::after,
  .main-nav_toggle-item::before {
    height: 2px;
  }

  .main-nav_toggle-item::before {
    top: -8px;
  }

  .main-nav_toggle-item::after {
    top: 8px;
    width: 16px;
  }

  .header_item-wrapper {
    display: none;
  }

  .search_wrapper {
    width: auto;
    flex-grow: 0;
    background-color: transparent;
    margin-top: 0;
  }

  .search_input {
    display: none;
  }

  .search_button {
    width: 28px;
    height: 28px;
  }

  .search_icon path {
    fill: #ffffff;
  }
}
